@import "./variables.scss";
.btn {
  border: none;
  background-color: transparent;
  color: $btn-default-font-color ;
  padding: $base-font-size *0.8 $base-font-size * 2;
  border-top-left-radius:$btn-default-border-radius ;
  border-bottom-right-radius:$btn-default-border-radius ;
  font-size: $base-font-size ;
  &:hover {
    cursor: pointer;

  }
  &_success {
    background-color: #1fdb84;
    box-shadow: 0 8px 34px 0 rgba(31, 219, 132, 0.6)
  }
  &_main-btn {
  font-size: $base-font-size * 1.125 ;
  font-weight: bold;
  padding: $base-font-size * 1.2  50px ;
  border-top-left-radius:$btn-default-border-radius * 2 ;
  border-bottom-right-radius:$btn-default-border-radius * 2 ;
  }
  &__tariff {
    padding: 20px 45px;
  }
}