@import "./variables.scss";
@import "./mixin.scss";
$nav-bar-height: 110px;
$page-nav-item-margin: 30px;
$page-nav-link-color: #ffffff;
$logo-font-size: 26px;


.page-header {
  background-color: $background-dark;
  position: relative;

}
.page-nav {
  height: $nav-bar-height ;
  display: flex;
  justify-content: space-between;
  position: relative;
 @include pageContainer;
  padding: 0 $page-container-padding;
  &__logo {
    color: $page-nav-link-color;
    font-size: $logo-font-size ;
    font-weight: normal;
    @include flexCenterVertical;
    @include  desktop-my {
      display: none;
    }
  }
  &__toggle {
    display: none;

  }
  &__menu {
    display: flex;
    justify-content: center;
    @include desktop-my {
      position: fixed;
      top: 60px;
      left: 0;
      flex-direction: column;
      width: 100vw;
      height: 100vh;
      background-color: $background-dark;
      justify-content: flex-start;
      padding: 0 15px;
      transform: scaleY(0);
      transition: all 0.5s;
      transform-origin: top;
      opacity: 1;
    }
  }
  &__item {
    margin: 0 $page-nav-item-margin;
    display: flex;
  }
  &__link {
    color: $page-nav-link-color;
    @include flexCenterVertical;
    justify-content: center;
  }
}
.account-panel {
  display: flex;
  align-items: center;
  @include desktop-my{
    display: none;
  }
  &__btn {
    margin: 0;
  }
}
.baner {
  display: flex;
  justify-content: space-between;
  @include pageContainer;

  &__img {
    width: 465px;
    height: 792px;
    background-image: url('../../assets/images/lesson_7/artboard@2x.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
  }

  &__main-header {
    font-size: 48px;
    font-weight: bold;
    margin: 150px 0 40px;
    @include tablet {
      font-size: 42px;
    }
    @include mobile {
      font-size: 35px;
    }
    @include xs-mobile {
      font-size: 30px;
    }
  }
  &__text {
    line-height: 2;
  }
  &__btn {
    margin-top: 70px;
  }
}
.baner__info {
  color: $page-nav-link-color;
  padding: 0 $page-container-padding;
}

